* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: black;
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

::selection {
  background: #00e1ffc9;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 50px;
}
