/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background: black;
  color: #fff;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

::-moz-selection {
  background: #00e1ffc9;
}

::selection {
  background: #00e1ffc9;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 50px;
}
