/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.wrapper {
  padding-left: 16px;
  padding-right: 16px;
  height: 800px;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#000000dc),
      to(#00000075)
    ),
    url("../../public/images/banner.jpg");
  background-image: -o-linear-gradient(#000000dc, #00000075),
    url("../../public/images/banner.jpg");
  background-image: linear-gradient(#000000dc, #00000075),
    url("../../public/images/banner.jpg");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.container {
  padding-top: 250px;
  max-width: 1200px;
  margin: auto;
}

.header {
  font-size: 350%;
  font-family: "Black Ops One", cursive;
}

.subHeader {
  font-size: 110%;
  font-weight: 500;
}

.buttonContainer {
  margin-top: 30px;
}

.applyBtn,
.learnMoreBtn {
  font-size: 70%;
  font-weight: 600;
  cursor: pointer;
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  padding: 10px 18px;
  border-radius: 10px;
  -webkit-transition: 400ms background;
  -o-transition: 400ms background;
  transition: 400ms background;
}

.learnMoreBtn {
  background: #0000002d;
  color: #fff;
  margin-left: 10px;
}

.learnMoreBtn:hover {
  background: #fff;
  color: #000;
}

.applyBtn:hover {
  background: #0000002d;
  color: #fff;
}

@media only screen and (max-width: 700px) {
  .header {
    font-size: 300%;
    font-family: "Black Ops One", cursive;
  }

  .subHeader {
    font-size: 100%;
    font-weight: 500;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 250%;
    font-family: "Black Ops One", cursive;
  }

  .subHeader {
    margin-top: 5px;
    font-size: 90%;
    font-weight: 500;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    font-size: 180%;
    font-family: "Black Ops One", cursive;
  }

  .subHeader {
    margin-top: 10px;
    font-size: 85%;
    font-weight: 500;
  }
  .container {
    padding-top: 200px;
  }
}
