/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.wrapper {
  padding: 75px 16px;
  background: #0f0f0f;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header {
  font-size: 200%;
  font-family: "Black Ops One", cursive;
  text-align: center;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 70px;
  max-width: 900px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.imageContainerMike,
.imageContainerAustin {
  height: 370px;
  width: 370px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#0000008c)),
    url("../../public/images/mike.jpg");
  background-image: -o-linear-gradient(transparent, #0000008c),
    url("../../public/images/mike.jpg");
  background-image: linear-gradient(transparent, #0000008c),
    url("../../public/images/mike.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: 0px 10px 20px #000;
          box-shadow: 0px 10px 20px #000;
}

.imageContainerAustin {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#0000008c)),
    url("../../public/images/austin.jpg");
  background-image: -o-linear-gradient(transparent, #0000008c),
    url("../../public/images/austin.jpg");
  background-image: linear-gradient(transparent, #0000008c),
    url("../../public/images/austin.jpg");
}

.title {
  font-size: 130%;
  font-weight: 600;
  margin-bottom: 10px;
}

.subTitle {
  font-size: 85%;
  font-weight: 500;
}

@media only screen and (max-width: 800px) {
  .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .imageContainerMike {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    font-size: 180%;
    font-family: "Black Ops One", cursive;
  }

  .subHeader {
    font-size: 85%;
    font-weight: 500;
  }
  .imageContainerAustin,
  .imageContainerMike {
    width: 360px;
    height: 360px;
  }
}
