/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.wrapper {
  padding: 75px 16px;
  background: #0f0f0f;
  padding-bottom: 125px;
}

.container {
  max-width: 800px;
  margin: auto;
}

.header {
  font-size: 200%;
  font-family: "Black Ops One", cursive;
  text-align: center;
}

.subHeader {
  font-weight: 400;
  text-align: center;
  max-width: 700px;
  margin: auto;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 70px;
}

.nameContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inputContainer {
  width: 100%;
  margin-bottom: 30px;
}

.textarea {
  width: 100%;
  resize: none;
  height: 100px;
  outline: none;
  background: #000;
  border-radius: 10px;
  border: 1px solid #222222;
  padding: 10px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.textarea::-webkit-input-placeholder {
  font-size: 90%;
}

.textarea::-moz-placeholder {
  font-size: 90%;
}

.textarea:-ms-input-placeholder {
  font-size: 90%;
}

.textarea::-ms-input-placeholder {
  font-size: 90%;
}

.textarea::placeholder {
  font-size: 90%;
}

.input {
  outline: none;
  background: #000;
  border-radius: 10px;
  border: 1px solid #222222;
  padding: 12px;
  color: #fff;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.label {
  font-size: 70%;
  font-weight: 300;
  margin-bottom: 5px;
  padding-left: 2px;
}

.submitBtn {
  font-size: 70%;
  font-weight: 600;
  cursor: pointer;
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  padding: 10px 30px;
  border-radius: 10px;
  -webkit-transition: 400ms background;
  -o-transition: 400ms background;
  transition: 400ms background;
  font-family: "Montserrat", sans-serif;
}

.submitBtn:hover {
  background: transparent;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .subHeader {
    font-size: 90%;
    font-weight: 500;
  }
  .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    font-size: 180%;
    font-family: "Black Ops One", cursive;
  }

  .subHeader {
    font-size: 85%;
    font-weight: 500;
  }
}
